html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #000;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.content {
  flex-grow: 1;
  margin-left: 50px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 250px);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.chartContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.chartContainer h2 {
  margin-bottom: 1rem;
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.controls label {
  font-weight: bold;
}

.controls input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.chartScrollWrapper {
  width: 100%;
  overflow-x: auto;
}

.barChart {
  height: 600px;
  padding: 1rem;

}

.legendWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
