
.pageContainer {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.actionsBar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
  align-items: flex-end;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.searchInput, select, input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 220px;
}

.importBtn {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.importBtn:disabled {
  background-color: #7aa7e7;
  cursor: not-allowed;
}

.postsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.postsTable th,
.postsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.postsTable th {
  background-color: #f2f2f2;
}

.thumbnail {
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s;
}
.thumbnail:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.pagination button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

.pagination .activePage {
  background-color: #00a4bd;
  color: white;
  font-weight: bold;
}

.pagination input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination span {
  display: inline-block;
  padding: 0 4px;
}

.pagination .go-button {
  padding: 6px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination .go-button:hover {
  background-color: #0056b3;
}



.selectStudy {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 250px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expandedImage {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.closeButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
