.buttonfechar {
  padding: 8px 16px;
  background-color: #007bff; /* Cor inicial */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttonfechar:hover {
  background-color: #0056b3; /* Cor ao passar o rato */
}
